@model ASM_SIMS.Models.ClassRoomViewModel
@using ASM_SIMS.DB
@{
    ViewData["Title"] = "Edit Class Room";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var courses = ViewBag.Courses as List<Courses>;
    var teachers = ViewBag.Teachers as List<Teacher>;
}

<div class="row">
    <div class="col-sm-12 col-md-12">
        <h2>Edit Class Room</h2>
        <a class="btn btn-info" asp-action="Index">Back</a>
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">Edit Class Room</h5>
                <div class="mb-3">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="text-danger">
                            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                            {
                                <p>@error.ErrorMessage</p>
                            }
                        </div>
                    }
                </div>
                <form method="post" asp-action="Edit">
                    <input type="hidden" asp-for="Id" />
                    <div class="mb-3">
                        <label asp-for="ClassName">Class Name</label>
                        <input asp-for="ClassName" class="form-control" />
                        <span asp-validation-for="ClassName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="CourseId">Course</label>
                        <select asp-for="CourseId" class="form-control" asp-items="@(new SelectList(courses, "Id", "NameCourse"))">
                            <option value="">Select course</option>
                        </select>
                        <span asp-validation-for="CourseId" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="TeacherId">Teacher</label>
                        <select asp-for="TeacherId" class="form-control" asp-items="@(new SelectList(teachers, "Id", "FullName"))">
                            <option value="">Select Teacher</option>
                        </select>
                        <span asp-validation-for="TeacherId" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="StartDate">Start Date</label>
                        <input asp-for="StartDate" class="form-control" type="date" value="@Model.StartDate.ToString("yyyy-MM-dd")" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="EndDate">End Date</label>
                        <input asp-for="EndDate" class="form-control" type="date" value="@Model.EndDate.ToString("yyyy-MM-dd")" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Schedule">Class schedule</label>
                        <input asp-for="Schedule" class="form-control" type="text" placeholder="Example: Monday, 7:00 AM - 11:00 AM" />
                        <span asp-validation-for="Schedule" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Location">Address</label>
                        <input asp-for="Location" class="form-control" />
                        <span asp-validation-for="Location" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Status">Status</label>
                        <select asp-for="Status" class="form-control">
                            <option value="">Select Status</option>
                            <option value="Active">Active</option>
                            <option value="Inactive">Inactive</option>
                        </select>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>